<div class="row well">
  <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="images/logo.png" alt="...">
    </a>
  </div>
  <div class="col-xs-8 col-md-4">
    <h3>广西知道信息科技</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>

<div class="well"  ng-controller="AccountCtrl">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="item in accounts">
      <span class="badge">{{item.badge}}</span>
      <i class="fa fa-{{item.icon}} fa-lg" style="color:{{item.color}}"></i> <a href="#/account/{{item.id}}">{{item.name}}</a>
    </li>
  </ul>
</div>
