<div class="row well">
  <div class="col-xs-4 col-md-4">
    <a href="#" class="thumbnail">
      <img src="images/logo.png" alt="...">
    </a>
  </div>
  <div class="col-xs-8 col-md-4">
    <h3>广西知道信息科技</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>

<div class="well">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">1</span>
      <i class="fa fa-gear fa-lg fa-spin" style="color:#2F4F4F"></i> 账户信息
    </li>
    <li class="list-group-item">
      <span class="badge">2</span>
      <i class="fa fa-expeditedssl fa-lg" style="color:#B22222"></i> 安全提示
    </li>
    <li class="list-group-item">
      <span class="badge">3</span>
      <i class="fa fa-bell fa-lg" style="color:#4B0082"></i> 提示信息
    </li>
    <li class="list-group-item">
      <span class="badge">4</span>
      <i class="fa fa-gift fa-lg" style="color:#F08080"></i> 积分礼物
    </li>
    <li class="list-group-item">
      <span class="badge">5</span>
      <i class="fa fa-weixin fa-lg" style="color:#191970"></i> 微信分享
    </li>
    <li class="list-group-item">
      <span class="badge">6</span>
      <i class="fa fa-weibo fa-lg" style="color:#FF4500"></i> 转发微博
    </li>
    <li class="list-group-item">
      <span class="badge">7</span>
      <i class="fa fa-cart-plus fa-lg" style="color:#D87093"></i> 救急工具
    </li>
    <li class="list-group-item">
      <span class="badge">14</span>
      <i class="fa fa-car fa-lg" style="color:#2E8B57"></i> 我的爱车
    </li>
  </ul>
</div>
