<div class="panel panel-default">
        <button type="button" class="btn btn-danger">JSON Ajax loadData</button>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead><tr><th>Name</th><th>Category</th><th>Price</th></tr></thead>
                <tbody>
                    <tr ng-hide="products.length">
                        <td colspan="3" class="text-center">No Data</td>
                    </tr>
                    <tr ng-repeat="item in products">
                        <td>{{item.name}}</td>
                        <td>{{item.category}}</td>
                        <td>{{item.price | currency}}</td>
                    </tr>
                  </tbody>
                </table>
                <p><button class="btn btn-primary" ng-click="loadData()">Load JSON Data</button></p>
          </div>
          <hr>
          <button type="button" class="btn btn-danger">XML Ajax loadData</button>
          <div class="panel-body" ng-controller="AjaxMCtrl">
              <table class="table table-striped table-bordered">
                  <thead><tr><th>Name</th><th>Category</th><th>Price</th></tr></thead>
                  <tbody>
                      <tr ng-hide="products.length">
                          <td colspan="3" class="text-center">No Data</td>
                      </tr>
                      <tr ng-repeat="item in products">
                          <td>{{item.name}}</td>
                          <td>{{item.category}}</td>
                          <td>{{item.price | currency}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p><button class="btn btn-primary" ng-click="loadXmlData()">Load XML Data</button></p>
            </div>
</div>
