<div class="row well">
  <div class="col-xs-3 col-md-3">
    <i class="fa fa-legal fa-5x" style="color:orange;"></i>
  </div>
  <div class="col-xs-9 col-md-9">
    <h3>广西知道信息科技</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>
<div class="row well">
  <div class="col-xs-3 col-md-3">
    <i class="fa fa-globe fa-5x" style="color:#9ACD32;"></i>
  </div>
  <div class="col-xs-9 col-md-9">
    <h3>广西知道信息科技</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>
<div class="row well">
  <div class="col-xs-3 col-md-3">
    <i class="fa fa-gamepad fa-5x" style="color:#2E8B57;"></i>
  </div>
  <div class="col-xs-9 col-md-9">
    <h3>广西知道信息科技</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>
<div class="row well">
  <div class="col-xs-3 col-md-3">
    <i class="fa fa-fax fa-5x" style="color:#5F9EA0;"></i>
  </div>
  <div class="col-xs-9 col-md-9">
    <h3>广西知道信息科技</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>
