 <style>
form.validate .ng-invalid-required.ng-dirty { background-color: lightpink; }
form.validate .ng-invalid-email.ng-dirty {background-color: lightgoldenrodyellow; }
div.error { color: red; font-weight: bold; }
</style>
<div class="well">
  <form class="form-horizontal" novalidate name="carForm">
    <label for="">南宁违章查询</label>
    <div ng-show="">您输入的信息有误，请仔细检查</div>
    <div class="form-group">
      <label class="col-xs-6 control-label">请输入您的车牌号:</label>
      <div class="col-xs-6">
        <input type="text" name="carNo" ng-model="main.carNo" value="桂A" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-6 control-label">请检查您的手机号:</label>
      <div class="col-xs-6">
        <input type="text" name="main.carPhone"  value="13800013000" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-6 control-label">请输入验证码:</label>
      <div class="col-xs-6">
        <input type="text" name="" value="" ng-model="main.sns">
      </div>
    </div>
  </form>
</div>

<div class="jumbotron">
  <img src="images/logo.png" alt="" />
  <h1>车知道查询</h1>

  <p><a class="btn btn-lg btn-success" ng-href="#/"><i class="fa fa-spinner fa-pulse"></i> 便捷查询</a></p>
</div>
