<div class="row well">
  <div class="col-xs-3 col-md-3">
      <i class="fa fa-chrome fa-5x" style="color:green;"></i>
  </div>
  <div class="col-xs-9 col-md-9">
    <h3>保险金融</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>
<div class="row well">
  <div class="col-xs-3 col-md-3">
      <i class="fa fa-gg-circle fa-5x" style="color:orange;"></i>
  </div>
  <div class="col-xs-9 col-md-9">
    <h3>违章代办</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>
<div class="row well">
  <div class="col-xs-3 col-md-3">
      <i class="fa fa-bank fa-5x" style="color:#5F9EA0;"></i>
  </div>
  <div class="col-xs-9 col-md-9">
    <h3>寻物启示</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>
<div class="row well">
  <div class="col-xs-3 col-md-3">
      <i class="fa fa-compass fa-5x" style="color:#008B8B;"></i>
  </div>
  <div class="col-xs-9 col-md-9">
    <h3>代驾租赁</h3>
    <p>
      隶属广西知道控股集团，以最权威、最便捷、最准确、最全面、最安全为宗旨，致力于服务广大车友的应用
    </p>
  </div>
</div>
